
	<div ng-controller="UserController as uc">
		<div>
			<label for="name">Name</label><input type="text" id="name" ng-model="uc.formData.name"/>
		</div>
		<div>
			<label for="username">Username</label><input type="text" id="username" ng-model="uc.formData.username"/>
		</div>
		<div>
			<label for="password">Password</label><input type="text" id="password" ng-model="uc.formData.password"/>
		</div>
		<div>
			<label for="passwordRetype">Retype password</label><input type="text" id="passwordRetype" ng-model="uc.formData.passwordRetype"/>
		</div>
		<div>
			<button type="submit" ng-click="uc.createUser()">add</button>
		</div>
	</div>