<!DOCTYPE html>
<html ng-app="myFin">
	<head>
		<title>myFIN - Money Manager</title>
		<script src="/node_modules/angular/angular.min.js"></script>
		<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="js/user/userController.js"></script>
		<script src="appRouter.js"></script>
	</head>
	<body ng-controller="userController">
		<div>
			<label for="username">Username</label><input type="text" name="username" ng-model="username"/>
		</div>
		<div>
			<label for="password">Password</label><input type="text" name="password" ng-model="password"/>
		</div>
		<div>
			<label for="passwordRetype">Retype password</label><input type="text" name="passwordRetype" ng-model="passwordRetype"/>
		</div>		
	</body>	
</html>